@import "../variables/variables";
/*Header starts*/
.header {
    width: 100%;
    height: 142px;
    background-color: $primary-one;
  
    .container {
      width: 1200px;
      height: inherit;
      margin: 0% auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .logo img {
        width: 100px;
        height: 57.38px;
      }
      .nav_group {
        margin-left: 19px;
        display: flex;
        align-items: center;
  
        a li {
          color: $a-tag-color;
          opacity: 1;
          margin: 0 39px;
          font-size: 20px;
          transition: 0.3s ease;
        }
        a li.active {
          color: $complent-color;
          opacity: 1;
        }
        a li:hover{
          color: $complent-color;
        }
      }
      a.btn {
        font-size: 17px;
        text-align: center;
        background-color: $primay-two;
        color: $primary-one;
        padding: 14px 35px 12px;
        border-radius: 10px;
        outline: none;
        transition: 0.3s ease-in-out;
      }
      a.btn.active{
        background-color: $complent-color;
      }
      a.btn:hover{
        background-color: $complent-color;
      }
    }
  }
  
/*Header ends*/