@import "../variables/variables";
/*Header starts*/
.header {
  width: 100%;
  height: 142px;
  background-color: $primary-one;
  .container {
    width: 1200px;
    height: inherit;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
      width: 100px;
      height: 57.38px;
    }
    .handburger {
      display: none;
    }
    .nav_group {
      margin-left: 19px;
      display: flex;
      align-items: center;

      a li {
        color: $a-tag-color;
        opacity: 1;
        margin: 0 39px;
        font-size: 20px;
        transition: 0.3s ease;
        font-weight: 600;
      }
      a li.active {
        color: $complent-color;
        opacity: 1;
      }
      a li:hover {
        color: $complent-color;
      }
    }
    a.btn {
      font-size: 17px;
      font-weight: 600;
      text-align: center;
      background-color: $primay-two;
      color: $primary-one;
      padding: 14px 35px 12px;
      border-radius: 10px;
      outline: none;
      transition: 0.3s ease-in-out;
    }
    a.btn.active {
      background-color: $complent-color;
    }
    a.btn:hover {
      background-color: $complent-color;
    }
  }
}

/*Header ends*/

/*mobile view media queries starts*/
@media only screen and (max-width: 600px) {
  .header {
    position: relative;
    .container {
      width: 90%;
      .logo {
        z-index: 80;
        img {
          width: 60px;
          height: 40px;
        }
      }
      .nav_group {
        max-width: 100%;
        flex-direction: column;
        //width: 105%;
        position: absolute;
        z-index: 1;
        background-color: white; 
        //margin-left: 374px;
        top: 100px;
        right: 0%;
        bottom: 0%;
        height: 600px;
        align-items: center;
        justify-content: space-around;
        padding: 120px 0;
        transition: 0.3s ease;
        transform: translateX(350px);
      }
      .nav_group.open{
        transform: translateX(0px);
        left: -20px;
      }
      .btn{
        display: none;
      }
      .handburger{
        display: inline-block;
        z-index: 80;
        width: 25px;
        height: 25px;
      }
    }
  }
}

/*mobile view media queries ends */

/* mobile iphone se starts */
@media only screen and (min-width: 320px) and (max-width: 370px) {
  .header{
    .container{
      .nav_group{
        //transform: translateY(264px);
        top: 30px;
      }
    }
  }
}

/* mobile iphone se ends */

/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  .header {
    .container {
      .nav_group {
        a {
          li {
            font-size: 26px;
          }
        }
      }
      a.btn {
        font-size: 20px;
        padding: 14px 35px 9px;
      }
           
    }
  }
}

/*Desktop View Media Queries Ends*/
