/*fonts starts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
/*fonts ends */
/*Colors*/
/*Resets*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 1200px;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

/*fonts starts */
/*fonts ends */
/*Colors*/
/*Resets*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 1200px;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

/*Header starts*/
.header {
  width: 100%;
  height: 142px;
  background-color: #fff;
}

.header .container {
  width: 1200px;
  height: inherit;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .logo img {
  width: 100px;
  height: 57.38px;
}

.header .container .handburger {
  display: none;
}

.header .container .nav_group {
  margin-left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .nav_group a li {
  color: black;
  opacity: 1;
  margin: 0 39px;
  font-size: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 600;
}

.header .container .nav_group a li.active {
  color: #ed1b43;
  opacity: 1;
}

.header .container .nav_group a li:hover {
  color: #ed1b43;
}

.header .container a.btn {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  background-color: #41436a;
  color: #fff;
  padding: 14px 35px 12px;
  border-radius: 10px;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .container a.btn.active {
  background-color: #ed1b43;
}

.header .container a.btn:hover {
  background-color: #ed1b43;
}

/*Header ends*/
/*mobile view media queries starts*/
@media only screen and (max-width: 600px) {
  .header {
    position: relative;
  }
  .header .container {
    width: 90%;
  }
  .header .container .logo {
    z-index: 80;
  }
  .header .container .logo img {
    width: 60px;
    height: 40px;
  }
  .header .container .nav_group {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 100px;
    right: 0%;
    bottom: 0%;
    height: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 120px 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }
  .header .container .nav_group.open {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    left: -20px;
  }
  .header .container .btn {
    display: none;
  }
  .header .container .handburger {
    display: inline-block;
    z-index: 80;
    width: 25px;
    height: 25px;
  }
}

/*mobile view media queries ends */
/* mobile iphone se starts */
@media only screen and (min-width: 320px) and (max-width: 370px) {
  .header .container .nav_group {
    top: 30px;
  }
}

/* mobile iphone se ends */
/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  .header .container .nav_group a li {
    font-size: 26px;
  }
  .header .container a.btn {
    font-size: 20px;
    padding: 14px 35px 9px;
  }
}

/*Desktop View Media Queries Ends*/
/*fonts starts */
/*fonts ends */
/*Colors*/
/*Resets*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 1200px;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

/*footer starts*/
footer {
  width: 100%;
  height: 300px;
}

footer .container {
  width: 1200px;
  height: inherit;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .logo img {
  width: 100px;
  height: 57.38px;
}

footer .container .nav_group {
  margin-left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 90px;
}

footer .container .nav_group a li {
  color: black;
  opacity: 1;
  margin: 0 39px;
  font-size: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 600;
}

footer .container .nav_group a li.active {
  color: #ed1b43;
  opacity: 1;
}

footer .container .nav_group a li:hover {
  color: #ed1b43;
}

footer .container a.btn {
  font-size: 17px;
  text-align: center;
  background-color: #41436a;
  color: #fff;
  padding: 14px 35px 12px;
  border-radius: 10px;
  outline: none;
  font-weight: 600;
}

footer .container .social-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
  cursor: pointer;
}

footer .container .social-group a img {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer .container .social-group a img:hover {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

/*footer ends*/
/*mobile view media queries starts*/
@media (max-width: 400px) {
  footer {
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 55px;
  }
  footer .container {
    width: 95%;
    height: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .nav_group {
    margin-left: 0;
  }
}

/*mobile view media queries ends*/
/* mobile iphone se starts */
@media only screen and (min-width: 320px) and (max-width: 370px) {
  footer {
    height: 400px;
    padding-bottom: 35px;
  }
  footer .container {
    height: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .nav_group a li {
    margin: 0 29px;
  }
}

/* mobile iphone se ends */
/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  footer .container .logo img {
    width: 159px;
    height: 95.38px;
  }
  footer .container .nav_group a li {
    font-size: 26px;
  }
  footer .container .social-group {
    margin-right: -47px;
  }
  footer .container .social-group a img {
    width: 46px;
    height: 50px;
  }
}

/*Desktop View Media Queries Ends*/
/*Laptop View Media Queries Starts*/
/*hero starts*/
.hero_sec {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  background-color: #41436a;
  overflow: hidden;
  position: relative;
}

.hero_sec .container {
  width: 1200px;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_sec .container .left_sec {
  margin-top: 104px;
}

.hero_sec .container .left_sec h1 {
  color: #fff;
  font-weight: bold;
  max-width: 780px;
  max-height: 363px;
  font-size: 70px;
  line-height: 85px;
}

.hero_sec .container .left_sec h2 {
  font-size: 17px;
  font-weight: 400;
  max-width: 660px;
  margin: 25px 0;
  color: white;
  line-height: 30px;
}

.hero_sec .container .left_sec .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin-top: 40px;
}

.hero_sec .container .left_sec .btn-group .btn {
  font-size: 15px;
  font-weight: 600;
  width: 255px;
  color: #fff;
  border: solid 3px #fff;
  padding: 15px 40px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero_sec .container .right_sec {
  position: absolute;
  right: -10%;
  margin-top: 94px;
}

.hero_sec .container .right_sec img {
  width: 650px;
  height: 550px;
}

/*hero ends*/
/*Our teacher sec starts*/
.our-teacher-sec {
  width: 100%;
  height: 556px;
  background-color: #fe9677;
  overflow: hidden;
}

.our-teacher-sec .container {
  width: 1200px;
  height: inherit;
  margin: 0% auto;
}

.our-teacher-sec .container .card-wrapper {
  padding-top: 134px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-row: 1;
  grid-row: 1fr;
  grid-gap: 0 51px;
}

.our-teacher-sec .container .card-wrapper .card {
  border-radius: 25px;
  text-align: center;
  height: 288px;
  width: 262px;
  left: 746px;
  top: 134px;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.our-teacher-sec .container .card-wrapper .card img {
  width: 65px;
  height: 95px;
}

.our-teacher-sec .container .card-wrapper .card.white {
  background-color: #fff;
}

.our-teacher-sec .container .card-wrapper .card.white h1 {
  color: #41436a;
}

.our-teacher-sec .container .card-wrapper .card.white h3 {
  color: #984063;
}

.our-teacher-sec .container .card-wrapper .card.blue {
  background-color: #41436a;
}

.our-teacher-sec .container .card-wrapper .card.blue h1 {
  color: #fff;
}

.our-teacher-sec .container .card-wrapper .card.blue h3 {
  color: #fe9677;
}

/*Our teacher sec ends*/
/*Why choose sec starts*/
.why-choose-sec {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  background-color: #fff;
  overflow: hidden;
}

.why-choose-sec .container {
  height: inherit;
  width: 1200px;
  margin: 104px auto 0;
}

.why-choose-sec .container .title {
  text-align: center;
  font-size: 55px;
  position: relative;
}

.why-choose-sec .container h3 {
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  max-width: 570px;
  margin: 0% auto;
  margin-top: 18px;
  line-height: 35px;
  padding-bottom: 80px;
}

.why-choose-sec .container img {
  width: 100px;
  height: 100px;
}

.why-choose-sec .container .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 53px;
}

.why-choose-sec .container .card-wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 355px;
  height: auto;
  padding: 50px 0 80px;
  border-radius: 23px;
  background-color: #fe9677;
}

.why-choose-sec .container .card-wrapper .card .right h4 {
  max-width: 280px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 50px;
}

.why-choose-sec .container .card-wrapper .card .right a {
  text-align: center;
  color: black;
  background-color: #fff;
  padding: 16px 38px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 15px;
}

.why-choose-sec .container .card-wrapper .card:nth-child(2) {
  margin-left: auto;
}

/*Why choose sec ends*/
/*Our affliation sec starts*/
.our-affliations-sec {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  overflow: hidden;
  background-color: #41436a;
  color: #fff;
}

.our-affliations-sec .container {
  height: inherit;
  width: 1200px;
  margin: 104px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-affliations-sec .container .title {
  text-align: center;
  font-size: 55px;
}

.our-affliations-sec .container h3 {
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  max-width: 800px;
  margin: 0% auto;
  margin-top: 18px;
  line-height: 35px;
  padding-bottom: 70px;
}

.our-affliations-sec .container img {
  width: 1000px;
  height: 195px;
  border-radius: 26px;
  opacity: 0.9;
}

/*Our affliation sec ends*/
/*top-students-choice-sec starts*/
.top-students-choice-sec {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  background-color: #fff;
  color: black;
  overflow: hidden;
}

.top-students-choice-sec .container {
  width: 1367px;
  margin: 0 auto;
  padding-top: 104px;
}

.top-students-choice-sec .container .title {
  text-align: center;
  font-size: 55px;
}

.top-students-choice-sec .container h3 {
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  max-width: 800px;
  margin: 0% auto;
  margin-top: 18px;
  line-height: 35px;
  padding-bottom: 70px;
}

.top-students-choice-sec .container .card-wrapper {
  width: 1200px;
  height: 1225px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 0 100px 90px 0;
  position: relative;
}

.top-students-choice-sec .container .card-wrapper .card {
  width: 530px;
  height: 547px;
  background-color: #41436a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 26px;
  color: #fff;
}

.top-students-choice-sec .container .card-wrapper .card .stars {
  width: 108.75px;
  height: 18px;
}

.top-students-choice-sec .container .card-wrapper .card .arrow {
  width: 13px;
  height: 13px;
}

.top-students-choice-sec .container .card-wrapper .card .top {
  width: 530px;
  height: 281px;
}

.top-students-choice-sec .container .card-wrapper .card .top img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 26px;
}

.top-students-choice-sec .container .card-wrapper .card .bottom {
  width: 500px;
  margin: 0% auto;
  height: 286px;
  padding-top: 45px;
}

.top-students-choice-sec .container .card-wrapper .card .bottom .title {
  position: relative;
  text-align: start;
  font-size: 20px;
  height: 60px;
}

.top-students-choice-sec .container .card-wrapper .card .bottom .title::after {
  content: "";
  background: #fff;
  width: 200%;
  height: 4px;
  position: absolute;
  left: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10%;
}

.top-students-choice-sec .container .card-wrapper .card .bottom .bt-group {
  width: 95%;
  margin: 0% auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-students-choice-sec .container .card-wrapper .card .bottom .btn {
  background-color: #ed1b43;
  color: #fff;
  font-weight: 700;
  padding: 12px 26.88px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-students-choice-sec .container .card-wrapper .card .bottom .btn img {
  width: 16px;
  height: 16px;
}

.top-students-choice-sec .container .card-wrapper .card .bottom .btn span {
  margin: 0 10px;
}

.top-students-choice-sec .container .card-wrapper .card.card-center {
  position: absolute;
  top: 50%;
  left: 49%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*top-students-choice-sec ends*/
/*Testmonial sec starts*/
.testmonial-sec {
  width: 100%;
  height: 220vh;
  background-color: #41436a;
}

.testmonial-sec .container {
  height: inherit;
  width: 1367px;
  margin: 0 auto;
  padding-top: 104px;
}

.testmonial-sec .container .title {
  color: #fff;
  text-align: center;
  font-size: 55px;
  position: relative;
  margin-bottom: 100px;
  padding-bottom: 32px;
}

.testmonial-sec .container .title::after {
  content: "";
  background: #fe9677;
  width: 85px;
  height: 4px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.testmonial-sec .container .card-wrapper {
  padding-top: 100px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 150px 0;
  position: relative;
}

.testmonial-sec .container .card-wrapper .card {
  width: 567px;
  height: 290px;
  background-color: #fff;
  padding-bottom: 50px;
  position: relative;
}

.testmonial-sec .container .card-wrapper .card .text-container {
  width: 475px;
  margin: 0% auto;
}

.testmonial-sec .container .card-wrapper .card .text-container .student-img {
  width: 152px;
  height: 152px;
  position: absolute;
  top: -27%;
}

.testmonial-sec .container .card-wrapper .card .text-container .text-wrapper {
  text-align: start;
  width: inherit;
  margin: 0% auto;
  position: absolute;
  bottom: 10%;
}

.testmonial-sec .container .card-wrapper .card .text-container .text-wrapper p {
  font-size: 16px;
  margin-bottom: 18px;
}

.testmonial-sec .container .card-wrapper .card .text-container .text-wrapper .text-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
}

.testmonial-sec .container .card-wrapper .card .text-container .text-wrapper .text-bottom img {
  width: 69px;
  height: 27px;
}

.testmonial-sec .container .card-wrapper .card .text-container .text-wrapper .text-bottom .name-wrapper {
  text-align: start;
}

.testmonial-sec .container .card-wrapper .card .text-container .text-wrapper .text-bottom .name-wrapper h4 {
  font-size: 26px;
}

.testmonial-sec .container .card-wrapper .card .text-container .text-wrapper .text-bottom .name-wrapper p {
  font-size: 15px;
}

.testmonial-sec .container .card-wrapper .card.two {
  position: absolute;
  top: 32%;
  right: 40%;
}

.testmonial-sec .container .card-wrapper .card.three {
  position: absolute;
  top: 58%;
  left: 50%;
}

/*Testmonial sec ends*/
/*Laptop View Media Queries Ends*/
/*mobile view media queries starts*/
@media (max-width: 400px) {
  .hero_sec {
    height: auto;
    padding-bottom: 80px;
  }
  .hero_sec .container {
    width: 95%;
  }
  .hero_sec .container .left_sec h1 {
    font-size: 57px;
    max-width: 341px;
    line-height: 1;
  }
  .hero_sec .container .left_sec h2 {
    font-size: 17px;
    max-width: 299px;
    line-height: 1.4;
  }
  .hero_sec .container .left_sec .btn {
    width: 161px;
    padding: 17px 16px;
    font-size: 15px;
  }
  .hero_sec .container .right_sec {
    display: none;
  }
  .our-teacher-sec {
    height: auto;
    padding-bottom: 80px;
  }
  .our-teacher-sec .container {
    width: 95%;
  }
  .our-teacher-sec .container .card-wrapper {
    width: inherit;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 35px;
  }
  .why-choose-sec {
    height: auto;
    padding-bottom: 120px;
  }
  .why-choose-sec .container {
    width: 95%;
  }
  .why-choose-sec .container img {
    margin: 0%;
  }
  .why-choose-sec .container .title {
    font-size: 33px;
  }
  .why-choose-sec .container .title::after {
    width: 95px;
  }
  .why-choose-sec .container .card-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why-choose-sec .container .card-wrapper .card:nth-child(2) {
    margin-left: 0%;
  }
  .why-choose-sec .container .card-wrapper .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 350px;
    height: 350px;
    padding: 22px 40px;
    position: static;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .why-choose-sec .container .card-wrapper .card .right {
    width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .why-choose-sec .container .card-wrapper .card .right a {
    -webkit-transform: translateX(-78px);
            transform: translateX(-78px);
    margin-top: 33px;
  }
  .why-choose-sec .container .card-wrapper .card .right a img {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .our-affliations-sec {
    padding-bottom: 80px;
    height: 75vh;
  }
  .our-affliations-sec .container {
    width: 95%;
  }
  .our-affliations-sec .container .title {
    font-size: 33px;
  }
  .our-affliations-sec .container .title::after {
    width: 95px;
  }
  .our-affliations-sec .container img {
    width: 367px;
    -o-object-fit: contain;
       object-fit: contain;
    height: auto;
    border-radius: 10px;
  }
  .top-students-choice-sec {
    width: 100%;
    overflow: hidden;
    height: auto;
    padding-bottom: 0px;
  }
  .top-students-choice-sec .container {
    width: 95%;
    padding-bottom: 250px;
  }
  .top-students-choice-sec .container .title {
    font-size: 33px;
  }
  .top-students-choice-sec .container .title::after {
    width: 95px;
  }
  .top-students-choice-sec .container .card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    height: auto;
    overflow: hidden;
    gap: 30px 0;
    width: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-students-choice-sec .container .card-wrapper .card {
    width: 351px;
    height: 475px;
  }
  .top-students-choice-sec .container .card-wrapper .card .top {
    width: 351px;
  }
  .top-students-choice-sec .container .card-wrapper .card .bottom {
    padding-top: 32px;
  }
  .top-students-choice-sec .container .card-wrapper .card .bottom .title {
    max-width: 250px;
    font-size: 16px;
    margin-left: 12px;
  }
  .top-students-choice-sec .container .card-wrapper .card .bottom .title::after {
    width: 140.5%;
    -webkit-transform: translateX(-60.6%);
            transform: translateX(-60.6%);
  }
  .top-students-choice-sec .container .card-wrapper .card .bottom .bt-group {
    width: 65%;
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    margin-left: 14px;
  }
  .top-students-choice-sec .container .card-wrapper .card.card-center {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 0%;
    top: 82%;
  }
  .testmonial-sec {
    height: auto;
    padding-bottom: 80px;
  }
  .testmonial-sec .container {
    width: 95%;
  }
  .testmonial-sec .container .title {
    font-size: 33px;
  }
  .testmonial-sec .container .title::after {
    width: 95px;
  }
  .testmonial-sec .container .card-wrapper {
    padding-top: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
    gap: 100px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testmonial-sec .container .card-wrapper .card {
    width: 353px;
    height: 250px;
  }
  .testmonial-sec .container .card-wrapper .card .text-container .text-wrapper {
    position: static;
    width: 337px;
    margin-left: 10px;
    margin-top: 32px;
  }
  .testmonial-sec .container .card-wrapper .card .text-container .student-img {
    width: 85px;
    height: 85px;
    position: static;
    margin-top: -42px;
  }
  .testmonial-sec .container .card-wrapper .card.two {
    position: static;
  }
  .testmonial-sec .container .card-wrapper .card.three {
    position: static;
  }
}

/*mobile view media queries ends*/
/* mobile iphone se starts */
@media only screen and (min-width: 320px) and (max-width: 370px) {
  .why-choose-sec .container .card-wrapper .card {
    width: 298px;
  }
  .why-choose-sec .container .card-wrapper .card .right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why-choose-sec .container .card-wrapper .card .right h4 {
    max-width: 274px;
    font-size: 17px;
  }
  .top-students-choice-sec .container .card-wrapper .card {
    width: 304px;
  }
  .top-students-choice-sec .container .card-wrapper .card .top {
    width: 304px;
  }
  .top-students-choice-sec .container .card-wrapper .card .bottom {
    width: 434px;
  }
  .top-students-choice-sec .container .card-wrapper .card .bottom .title::after {
    width: 120.6%;
    -webkit-transform: translateX(-69.9%);
            transform: translateX(-69.9%);
  }
  .testmonial-sec .container .card-wrapper .card {
    width: 305px;
    height: auto;
    padding: 20px 0;
  }
  .testmonial-sec .container .card-wrapper .card .text-container {
    width: 305px;
  }
  .testmonial-sec .container .card-wrapper .card .text-container .student-img {
    margin-top: -61px;
  }
  .testmonial-sec .container .card-wrapper .card .text-container .text-wrapper {
    width: 276px;
  }
  .testmonial-sec .container .card-wrapper .card .text-container .text-wrapper .text-bottom {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
}

/* mobile iphone se ends */
/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  body,
  html {
    overflow-x: hidden;
  }
  .hero_sec {
    height: 60vh;
    padding-bottom: 40px;
  }
  .hero_sec .container .left_sec h2 {
    max-width: 530px;
    margin: 33px 0;
    color: white;
  }
  .hero_sec .container .right_sec {
    margin-top: 62px;
  }
  .hero_sec .container .right_sec img {
    width: 1154px;
    height: 560px;
  }
  .our-teacher-sec {
    padding: 40px 0;
    overflow: hidden;
  }
  .our-teacher-sec .container .card-wrapper {
    padding-top: 100px;
  }
  .why-choose-sec {
    height: 115vh;
    padding: 40px 0;
  }
  .why-choose-sec .container .card-wrapper .card .right h4 {
    max-width: 516px;
    font-size: 25px;
  }
  .why-choose-sec .container .card-wrapper .card .right a {
    -webkit-transform: translateY(29px);
            transform: translateY(29px);
  }
  .our-affliations-sec {
    padding: 40px 0;
  }
  .our-affliations-sec .container {
    margin: 47px auto 0;
  }
  .top-students-choice-sec {
    height: 147vh;
    padding: 40px 0;
  }
  .testmonial-sec {
    height: 160vh;
    padding: 40px 0;
  }
}

/*Desktop View Media Queries Ends*/
/*# sourceMappingURL=index.css.map */