@import "../scssfiles/variables/variables";
@import "../scssfiles/Header/header";
@import "../scssfiles/footer/footer";

/*Laptop View Media Queries Starts*/

/*hero starts*/
.hero_sec {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  background-color: $primay-two;
  overflow: hidden;
  position: relative;

  .container {
    width: 1200px;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left_sec {
      margin-top: 104px;
      h1 {
        color: $primary-one;
        font-weight: bold;
        max-width: 780px;
        max-height: 363px;
        font-size: 70px;
        line-height: 85px;
      }
      h2 {
        font-size: 17px;
        font-weight: 400;
        max-width: 660px;
        margin: 25px 0;
        color: white;
        line-height: 30px;
      }
      .btn-group {
        display: flex;
        gap: 25px;
        margin-top: 40px;
        .btn {
          font-size: 15px;
          font-weight: 600;
          width: 255px;
          color: $primary-one;
          border: solid 3px #fff;
          padding: 15px 40px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
      }
    }
    .right_sec {
      position: absolute;
      right: -10%;
      margin-top: 94px;
      img {
        width: 650px;
        height: 550px;
      }
    }
  }
}
/*hero ends*/

/*Our teacher sec starts*/
.our-teacher-sec {
  width: 100%;
  height: 556px;
  background-color: $secondary-one;
  overflow: hidden;

  .container {
    width: 1200px;
    height: inherit;
    margin: 0% auto;

    .card-wrapper {
      padding-top: 134px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row: 1fr;
      grid-gap: 0 51px;

      .card {
        border-radius: 25px;
        text-align: center;
        height: 288px;
        width: 262px;
        left: 746px;
        top: 134px;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        img {
          width: 65px;
          height: 95px;
        }
      }
      .card.white {
        background-color: $primary-one;

        h1 {
          color: $primay-two;
        }
        h3 {
          color: $secondary-two;
        }
      }
      .card.blue {
        background-color: $primay-two;

        h1 {
          color: $primary-one;
        }
        h3 {
          color: $secondary-one;
        }
      }
    }
  }
}
/*Our teacher sec ends*/

/*Why choose sec starts*/
.why-choose-sec {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  background-color: $primary-one;
  overflow: hidden;

  .container {
    height: inherit;
    width: 1200px;
    margin: 104px auto 0;

    .title {
      text-align: center;
      font-size: 55px;
      position: relative;
    }
    h3 {
      font-weight: 500;
      text-align: center;
      font-size: 20px;
      max-width: 570px;
      margin: 0% auto;
      margin-top: 18px;
      line-height: 35px;
      padding-bottom: 80px;
    }
    img {
      width: 100px;
      height: 100px;
    }
    .card-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 53px;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 355px;
        height: auto;
        padding: 50px 0 80px;
        border-radius: 23px;
        background-color: $secondary-one;
        .right {
          h4 {
            max-width: 280px;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 50px;
          }
          a {
            text-align: center;
            color: $a-tag-color;
            background-color: $primary-one;
            padding: 16px 38px;
            font-weight: 600;
            font-size: 15px;
            border-radius: 15px;
          }
        }
      }
      .card:nth-child(2) {
        margin-left: auto;
      }
    }
  }
}
/*Why choose sec ends*/

/*Our affliation sec starts*/
.our-affliations-sec {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  overflow: hidden;
  background-color: $primay-two;
  color: $primary-one;

  .container {
    height: inherit;
    width: 1200px;
    margin: 104px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      text-align: center;
      font-size: 55px;
    }
    h3 {
      font-weight: 500;
      text-align: center;
      font-size: 20px;
      max-width: 800px;
      margin: 0% auto;
      margin-top: 18px;
      line-height: 35px;
      padding-bottom: 70px;
    }
    img {
      width: 1000px;
      height: 195px;
      border-radius: 26px;
      opacity: 0.9;
    }
  }
}
/*Our affliation sec ends*/
/*top-students-choice-sec starts*/
.top-students-choice-sec {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  background-color: $primary-one;
  color: $a-tag-color;
  overflow: hidden;

  .container {
    width: 1367px;
    margin: 0 auto;
    padding-top: 104px;

    .title {
      text-align: center;
      font-size: 55px;
    }
    h3 {
      font-weight: 500;
      text-align: center;
      font-size: 20px;
      max-width: 800px;
      margin: 0% auto;
      margin-top: 18px;
      line-height: 35px;
      padding-bottom: 70px;
    }
    .card-wrapper {
      width: 1200px;
      height: 1225px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0 100px 90px 0;
      position: relative;

      .card {
        width: 530px;
        height: 547px;
        background-color: $primay-two;
        display: flex;
        flex-direction: column;
        border-radius: 26px;
        color: $primary-one;

        .stars {
          width: 108.75px;
          height: 18px;
        }
        .arrow {
          width: 13px;
          height: 13px;
        }

        .top {
          width: 530px;
          height: 281px;

          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            border-radius: 26px;
          }
        }
        .bottom {
          width: 500px;
          margin: 0% auto;
          height: 286px;
          padding-top: 45px;
          .title {
            position: relative;
            text-align: start;
            font-size: 20px;
            height: 60px;
          }
          .title::after {
            content: "";
            background: $primary-one;
            width: 200%;
            height: 4px;
            position: absolute;
            left: 80%;
            transform: translateX(-50%);
            bottom: -10%;
          }
          .bt-group {
            width: 95%;
            margin: 0% auto;
            transform: translateY(100%);
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .btn {
            background-color: $complent-color;
            color: $primary-one;
            font-weight: 700;
            padding: 12px 26.88px;
            font-size: 13px;
            display: flex;
            border-radius: 8px;
            align-items: center;
            img {
              width: 16px;
              height: 16px;
            }
            span {
              margin: 0 10px;
            }
          }
        }
      }
      .card.card-center {
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translateX(-50%);
      }
    }
  }
}
/*top-students-choice-sec ends*/
/*Testmonial sec starts*/
.testmonial-sec {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 80px;
  background-color: $primay-two;

  .container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 104px;

    .title {
      color: $primary-one;
      text-align: center;
      font-size: 55px;
    }
    h3 {
      font-weight: 500;
      text-align: center;
      font-size: 20px;
      max-width: 800px;
      margin: 0% auto;
      margin-top: 18px;
      line-height: 35px;
      padding-bottom: 70px;
      color: $primary-one;
    }
    .card-wrapper {
      padding-top: 100px;
      height: inherit;
      display: flex;
      flex-direction: row;
      gap: 70px;
      position: relative;

      .card {
        width: 355px;
        height: 440px;
        background-color: $primary-one;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .text-container {
          width: 300px;
          text-align: center;
          margin: 0% auto;
          .student-img {
            transform: translateY(-50%);
            width: 152px;
            height: 152px;
          }
          .text-wrapper {
            text-align: start;
            width: inherit;
            margin: 0% auto;
            p {
              text-align: center;
              font-weight: 400;
              line-height: 152%;
              font-size: 17px;
              margin-bottom: 30px;
              transform: translateY(-17%);
            }
            .text-bottom {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: inherit;
              text-align: start;
              img {
                width: 69px;
                height: 27px;
              }
              .name-wrapper {
                text-align: start;
                h4 {
                  font-size: 26px;
                }
                p {
                  font-size: 15px;
                  text-align: start;
                }
              }
            }
          }
        }
      }
    }
  }
}
/*Testmonial sec ends*/

/*Laptop View Media Queries Ends*/

/*mobile view media queries starts*/
@media (max-width: 766px) {
  .hero_sec {
    height: auto;
    padding-bottom: 80px;
    .container {
      width: 95%;
      .left_sec {
        h1 {
          font-size: 33px;
          max-width: 401px;
          line-height: 42px;
        }
        h2 {
          font-size: 15px;
          max-width: 336px;
          line-height: 1.5;
        }
        .btn-group {
          .btn {
            width: 50%;
            padding: 17px 16px;
            font-size: 10px;
            font-weight: 600;
          }
        }
      }
      .right_sec {
        display: none;
      }
    }
  }
  .our-teacher-sec {
    height: auto;
    padding-bottom: 80px;
    .container {
      width: 95%;
      .card-wrapper {
        width: inherit;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 35px;
      }
    }
  }
  .why-choose-sec {
    height: auto;
    padding-bottom: 120px;
    .container {
      width: 95%;
      img {
        margin: 0%;
      }
      .title {
        font-size: 30px;
      }
      h3{
        font-size: 15px;
        line-height: 25px;
        padding-bottom: 50px;
      }
      .card-wrapper {
        flex-direction: column;
        align-items: center;
        .card:nth-child(2) {
          margin-left: 0%;
        }
        .card {
          flex-direction: column;
          text-align: center;
          width: 350px;
          height: 350px;
          padding: 22px 40px;
          position: static;
          transform: translateX(0px);

          .right {
            width: 300px;
            justify-content: center;
            a {
              transform: translateX(-78px);
              margin-top: 33px;
              img {
                transform: translateX(10px);
              }
            }
          }
        }
      }
    }
  }
  .our-affliations-sec {
    padding-bottom: 80px;
    height: auto;
    .container {
      width: 95%;
      .title {
        font-size: 30px;
      }
      h3{
        font-size: 15px;
        line-height: 25px;
        padding-bottom: 50px;
      }
      img {
        width: 367px;
        object-fit: contain;
        height: auto;
        border-radius: 10px;
      }
    }
  }
  .top-students-choice-sec {
    width: 100%;
    overflow: hidden;
    height: auto;
    .container {
      width: 95%;
      .title {
        font-size: 30px;
      }
      h3{
        font-size: 15px;
        line-height: 25px;
        padding-bottom: 50px;
      }
      .card-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        overflow: hidden;
        gap: 30px 0;
        width: inherit;
        align-items: center;
        .card {
          width: 351px;
          height: 475px;
          .top {
            width: 351px;
          }
          .bottom {
            padding-top: 32px;
            .title {
              max-width: 250px;
              font-size: 16px;
              margin-left: 12px;
            }
            .title::after {
              width: 140.5%;
              transform: translateX(-60.6%);
            }
            .bt-group {
              width: 65%;
              transform: translateY(55%);
              margin-left: 14px;
              .btn{
                padding: 12px 20.88px;
                font-size: 10px;
              }
            }
          }
        }
        .card.card-center {
          position: static;
          transform: translateX(0);
          left: 0%;
          top: 82%;
        }
      }
    }
  }
  .testmonial-sec {
    height: auto;
    padding-bottom: 80px;
    .container{
      width: 95%;
      .title {
        font-size: 30px;
      }
      h3{
        font-size: 15px;
        line-height: 25px;
        padding-bottom: 50px;
      }
      .card-wrapper{
        flex-direction: column;
        gap: 95px;
        align-items: center;
        .card{
          height: 400px;
          .text-container{
            .text-wrapper{
              p{
                margin-bottom: 6px;
              }
            }
            .student-img{
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }
}

/*mobile view media queries ends*/

/* mobile iphone se starts */
@media (min-width: 320px) and (max-width: 375px) {
  .why-choose-sec {
    .container {
      .card-wrapper {
        .card {
          width: 298px;
          .right {
            align-items: center;
            h4 {
              max-width: 255px;
              margin: 30px auto 45px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .top-students-choice-sec {
    .container {
      .card-wrapper {
        .card {
          width: 304px;
          .top {
            width: 304px;
          }
          .bottom {
            width: 434px;
            .title::after {
              width: 120.6%;
              transform: translateX(-69.9%);
            }
          }
        }
      }
    }
  }
  .testmonial-sec {
    .container {
      .card-wrapper {
        align-items: center;
        justify-content: center;
        .card {
          width: 305px;
          height: auto;
          padding: 30px 0;
          .text-container {
            width: 305px;
            .student-img {
              margin-top: -41px;
              width: 90px;
              height: 90px;
            }
            .text-wrapper {
              width: 276px;
              p{
                font-size: 13px;
              }
              .text-bottom {
                transform: translateY(12px);
              }
            }
          }
        }
      }
    }
  }
}

/* mobile iphone se ends */

/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  body,
  html {
    overflow-x: hidden;
  }
  .hero_sec {
    height: 60vh;
    padding-bottom: 40px;
    .container {
      .left_sec {
        h2 {
          max-width: 530px;
          margin: 33px 0;
          color: white;
        }
      }
      .right_sec {
        margin-top: 62px;
        img {
          width: 1154px;
          height: 560px;
        }
      }
    }
  }
  .our-teacher-sec {
    padding: 40px 0;
    overflow: hidden;
    .container {
      .card-wrapper {
        padding-top: 100px;
      }
    }
  }
  .why-choose-sec {
    height: 115vh;
    padding: 40px 0;
    .container {
      .card-wrapper {
        .card {
          .right {
            h4 {
              max-width: 516px;
              font-size: 25px;
            }
            a {
              transform: translateY(29px);
            }
          }
        }
      }
    }
  }
  .our-affliations-sec {
    padding: 40px 0;
    .container {
      margin: 47px auto 0;
    }
  }
  .top-students-choice-sec {
    height: 147vh;
    padding: 40px 0;
  }
  .testmonial-sec {
    height: 160vh;
    padding: 40px 0;
  }
}

/*Desktop View Media Queries Ends*/

/*Tablet View Media Queries starts*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  //hero-sec
  .hero_sec{
    .right_sec{
      display: none;
    }
    .container{
      width: 95%;
      .left_sec{
        h1{
          font-size: 62px;
        }
    }
    }
  }
  //students we have sec
  .our-teacher-sec{
    height: auto;
    padding: 100px 0;
    .container{
      width: 95%;
      .card-wrapper{
        padding: 0%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        justify-items: center;
        .card{
          h1{
            font-size: 20px;
          }
        }
      }
    }
  }
  //why-choose-us
  .why-choose-sec{
    .container{
      width: 95%;
      .card-wrapper{
        flex-wrap: wrap;
        .card:nth-child(2){
          margin-left: 0%;
        }
        .card{
          width: 600px;
          .right{
            h4{
              max-width: 500px;
              font-size: 23px;
              margin-bottom: 42px;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
  //our-affliation-sec
  .our-affliations-sec{
    .container{
      width: 95%;
      img{
        width: 100%;
        height: 160px;
      }
    }
  }
  //top-students-choice
  .top-students-choice-sec{
    .container{
      width: 95%;
      .card-wrapper{
        gap: 50px;
        width: 100%;
        grid-template-columns:1fr;
        height: auto;
        justify-items: center;
        .card.card-center{
          position: static;
          transform: translateX(0%);
        }
      }
    }
  }
  //Testimonial-sec
  .testmonial-sec{
    .container{
      width: 95%;
      .card-wrapper{
        justify-content: center;
        flex-wrap: wrap;
        gap: 120px;
        .card{
          width: 75%;
          height: auto;
          .text-container{
            width: 90%;
          }
        }
      }
    }
  }
}
/*Tablet View Media Queries ends*/
