/*fonts starts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
/*fonts ends */
/*Colors*/
/*Resets*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 1200px;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

/*fonts starts */
/*fonts ends */
/*Colors*/
/*Resets*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 1200px;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

/*Header starts*/
.header {
  width: 100%;
  height: 142px;
  background-color: #fff;
}

.header .container {
  width: 1200px;
  height: inherit;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .logo img {
  width: 100px;
  height: 57.38px;
}

.header .container .handburger {
  display: none;
}

.header .container .nav_group {
  margin-left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .nav_group a li {
  color: black;
  opacity: 1;
  margin: 0 39px;
  font-size: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 600;
}

.header .container .nav_group a li.active {
  color: #ed1b43;
  opacity: 1;
}

.header .container .nav_group a li:hover {
  color: #ed1b43;
}

.header .container a.btn {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  background-color: #41436a;
  color: #fff;
  padding: 14px 35px 12px;
  border-radius: 10px;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .container a.btn.active {
  background-color: #ed1b43;
}

.header .container a.btn:hover {
  background-color: #ed1b43;
}

/*Header ends*/
/*mobile view media queries starts*/
@media (max-width: 766px) {
  .header {
    position: relative;
  }
  .header .container {
    width: 90%;
  }
  .header .container .logo {
    z-index: 80;
  }
  .header .container .logo img {
    width: 60px;
    height: 40px;
  }
  .header .container .nav_group {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 100px;
    right: 0%;
    bottom: 0%;
    height: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 120px 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }
  .header .container .nav_group.open {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    left: -20px;
  }
  .header .container .btn {
    display: none;
  }
  .header .container .handburger {
    display: inline-block;
    z-index: 80;
    width: 25px;
    height: 25px;
  }
}

/*mobile view media queries ends */
/* mobile iphone se starts */
@media (min-width: 320px) and (max-width: 375px) {
  .header .container .nav_group {
    top: 30px;
  }
}

/* mobile iphone se ends */
/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  .header .container .nav_group a li {
    font-size: 26px;
  }
  .header .container a.btn {
    font-size: 20px;
    padding: 14px 35px 9px;
  }
}

/*Desktop View Media Queries Ends*/
.indivitual-courses {
  overflow: hidden;
  width: 100%;
  height: 200vh;
  background-color: #fe9677;
  padding-top: 104px;
}

.indivitual-courses .container {
  width: 1200px;
  height: inherit;
  margin: 0% auto;
}

.indivitual-courses .container .top-sec {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 70px;
  margin-bottom: 45px;
}

.indivitual-courses .container .top-sec .left-sec img {
  width: 570px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.indivitual-courses .container .top-sec .right-sec .text-wrapper h2 {
  font-size: 60px;
  margin-bottom: 25px;
  max-width: 600px;
}

.indivitual-courses .container .top-sec .right-sec .text-wrapper h2.long-text {
  font-size: 52px;
}

.indivitual-courses .container .top-sec .right-sec .text-wrapper span {
  font-weight: 800;
  font-size: 18px;
}

.indivitual-courses .container .top-sec .right-sec .text-wrapper p {
  margin: 25px 0 40px;
  font-weight: 800;
  font-size: 18px;
  max-width: 450px;
  line-height: 28px;
}

.indivitual-courses .container .top-sec .right-sec .text-wrapper .btn {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  background-color: #fff;
  color: black;
  padding: 15px 80px;
  border-radius: 15px;
}

.indivitual-courses .container .bottom-sec {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 80px;
}

.indivitual-courses .container .bottom-sec .left-sec {
  width: 60%;
  height: inherit;
  background-color: #fff;
}

.indivitual-courses .container .bottom-sec .left-sec .container {
  position: relative;
  padding: 60px 80px 30px 45px;
}

.indivitual-courses .container .bottom-sec .left-sec .container .text-wrapper {
  max-width: 650px;
}

.indivitual-courses .container .bottom-sec .left-sec .container .text-wrapper h4 {
  font-size: 28px;
  margin-bottom: 40px;
}

.indivitual-courses .container .bottom-sec .left-sec .container .text-wrapper p {
  color: #41436a;
  max-width: 550px;
  font-size: 18px;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 55px;
}

.indivitual-courses .container .bottom-sec .left-sec .container .text-wrapper .iteam-wrapper {
  position: absolute;
  left: 59px;
}

.indivitual-courses .container .bottom-sec .left-sec .container .text-wrapper .iteam-wrapper li {
  color: #41436a;
  list-style: disc;
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
}

.indivitual-courses .container .bottom-sec .right-sec {
  width: 40%;
  height: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.indivitual-courses .container .bottom-sec .right-sec img {
  width: 32px;
  height: 32px;
}

.indivitual-courses .container .bottom-sec .right-sec .t-sec {
  background-color: #fff;
  height: 350px;
  padding: 53px;
}

.indivitual-courses .container .bottom-sec .right-sec .t-sec .iteam-wrapper .iteam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}

.indivitual-courses .container .bottom-sec .right-sec .t-sec .iteam-wrapper .iteam img {
  margin-right: 65px;
}

.indivitual-courses .container .bottom-sec .right-sec .t-sec .iteam-wrapper .iteam span {
  font-size: 22px;
  font-weight: 800;
  color: #41436a;
}

.indivitual-courses .container .bottom-sec .right-sec .b-sec {
  background-color: #fff;
  height: 350px;
  padding: 50px 35px 100px;
}

.indivitual-courses .container .bottom-sec .right-sec .b-sec h4 {
  font-size: 22px;
  margin-bottom: 33px;
}

.indivitual-courses .container .bottom-sec .right-sec .b-sec ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70%;
}

.indivitual-courses .container .bottom-sec .right-sec .b-sec ul li a {
  opacity: 0.8;
}

/*mobile view media queries starts*/
@media (max-width: 766px) {
  .indivitual-courses {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .indivitual-courses .container {
    overflow: hidden;
    width: 95%;
    height: auto;
    padding-bottom: 100px;
  }
  .indivitual-courses .container .top-sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .indivitual-courses .container .top-sec .right-sec .text-wrapper h2 {
    font-size: 29px;
    margin-bottom: 12px;
  }
  .indivitual-courses .container .top-sec .right-sec .text-wrapper .btn {
    padding: 12px 72px;
    width: 100px;
    font-size: 19px;
  }
  .indivitual-courses .container .bottom-sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .indivitual-courses .container .bottom-sec .left-sec {
    width: 100%;
    height: auto;
  }
  .indivitual-courses .container .bottom-sec .left-sec .container {
    height: auto;
    padding: 60px 10px;
  }
  .indivitual-courses .container .bottom-sec .left-sec .container .text-wrapper .iteam-wrapper {
    position: static;
  }
  .indivitual-courses .container .bottom-sec .left-sec .container .text-wrapper .iteam-wrapper li {
    list-style: square;
  }
  .indivitual-courses .container .bottom-sec .right-sec {
    width: 100%;
    height: auto;
  }
  .indivitual-courses .container .bottom-sec .right-sec .t-sec {
    padding: 53px 32px;
  }
  .indivitual-courses .container .bottom-sec .right-sec .b-sec {
    padding: 53px 32px;
  }
}

/*mobile view media queries ends*/
/* mobile iphone se starts */
@media (min-width: 320px) and (max-width: 375px) {
  .indivitual-courses {
    padding-bottom: 50px;
  }
  .indivitual-courses .container {
    padding-bottom: 50px;
  }
}

/* mobile iphone se ends */
/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  .indivitual-courses {
    height: 135vh;
    padding-bottom: 80px;
  }
}

/*Desktop View Media Queries ends*/
/*# sourceMappingURL=indivitualCourse.css.map */