@import "../scssfiles/variables/variables";
@import "../scssfiles/Header/header";

.indivitual-courses {
  overflow: hidden;
  width: 100%;
  height: 200vh;
  background-color: $secondary-one;
  padding-top: 104px;
  .container {
    width: 1200px;
    height: inherit;
    margin: 0% auto;
    .top-sec {
      width: inherit;
      display: flex;
      justify-content: space-evenly;
      gap: 70px;
      margin-bottom: 45px;
      .left-sec {
        img {
          width: 570px;
          height: 400px;
          object-fit: cover;
        }
      }
      .right-sec {
        .text-wrapper {
          h2 {
            font-size: 60px;
            margin-bottom: 25px;
            max-width: 600px;
          }
          h2.long-text {
            font-size: 52px;
          }
          span {
            font-weight: 800;
            font-size: 18px;
          }
          p {
            margin: 25px 0 40px;
            font-weight: 800;
            font-size: 18px;
            max-width: 450px;
            line-height: 28px;
          }
          .btn {
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            background-color: $primary-one;
            color: $a-tag-color;
            padding: 15px 80px;
            border-radius: 15px;
          }
        }
      }
    }
    .bottom-sec {
      height: 800px;
      display: flex;
      justify-content: space-evenly;
      gap: 80px;
      .left-sec {
        width: 60%;
        height: inherit;
        background-color: $primary-one;
        .container {
          position: relative;
          padding: 60px 80px 30px 45px;
          .text-wrapper {
            max-width: 650px;
            h4 {
              font-size: 28px;
              margin-bottom: 40px;
            }
            p {
              color: $primay-two;
              max-width: 550px;
              font-size: 18px;
              font-weight: 800;
              line-height: 32px;
              margin-bottom: 55px;
            }
            .iteam-wrapper {
              position: absolute;
              left: 59px;
              li {
                color: $primay-two;
                list-style: disc;
                font-size: 18px;
                line-height: 30px;
                font-weight: 800;
              }
            }
          }
        }
      }
      .right-sec {
        width: 40%;
        height: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
          width: 32px;
          height: 32px;
        }
        .t-sec {
          background-color: #fff;
          height: 350px;
          padding: 53px;
          .iteam-wrapper {
            .iteam {
              display: flex;
              gap: 80px 0;
              align-items: center;
              margin: 25px 0;
              img {
                margin-right: 65px;
              }
              span {
                font-size: 22px;
                font-weight: 800;
                color: $primay-two;
              }
            }
          }
        }
        .b-sec {
          background-color: #fff;
          height: 350px;
          padding: 50px 35px 100px;
          h4 {
            font-size: 22px;
            margin-bottom: 33px;
          }
          ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 70%;
            li a {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

/*mobile view media queries starts*/
@media only screen and (max-width: 600px) {
  .indivitual-courses {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 100px;
    .container {
      overflow: hidden;
      width: 95%;
      height: auto;
      padding-bottom: 100px;
      .top-sec {
        flex-direction: column;
        height: auto;
        .right-sec {

          .text-wrapper {
            h2 {
              font-size: 29px;
              margin-bottom: 12px;
            }
            .btn{
              padding: 12px 72px;
              width: 100px;
              font-size: 19px;
            }
          }
        }
      }
      .bottom-sec {
        flex-direction: column;
        height: auto;
        .left-sec{
          width: 100%;
          height: auto;
          .container{
            height: auto;
            padding: 60px 10px;
            .text-wrapper{
              .iteam-wrapper{
                position: static;
                li{
                  list-style: square;
                }
              }
            }
          }
        }
        .right-sec{
          width: 100%;
          height: auto;
          .t-sec{
            padding: 53px 32px;
          }
          .b-sec{
            padding: 53px 32px;
          }
        }
      }
    }
  }
}

/*mobile view media queries ends*/

/* mobile iphone se starts */

@media only screen and (min-width: 320px) and (max-width: 370px) {
  .indivitual-courses{
    padding-bottom: 50px;

    .container{
      padding-bottom: 50px;
    }
  }
}

/* mobile iphone se ends */

/*Desktop View Media Queries Starts*/

@media only screen and (min-width: 1600px) {
  .indivitual-courses {
    height: 135vh;
    padding-bottom: 80px;
  }
}

/*Desktop View Media Queries ends*/
