@import "../scssfiles/variables/variables";
@import "../scssfiles/Header/header";

.indivitual-courses {
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: $primay-two;
  color: $primary-one;
  padding: 80px 0 100px;
  .container {
    width: 1200px;
    height: auto;
    margin: 0% auto;
    .top-sec {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      gap: 79px;
      margin-bottom: 45px;
      .left-sec {
        img {
          width: 560px;
          height: 400px;
          object-fit: cover;
        }
      }
      .right-sec {
        .text-wrapper {
          h2 {
            font-size: 45px;
            line-height: 62px;
            margin-bottom: 8px;
            max-width: 600px;
          }
          h2.long-text {
            font-size: 52px;
          }
          span {
            font-weight: 400;
            font-size: 15px;
          }
          p {
            font-weight: 300;
            font-size: 18px;
            max-width: 450px;
            line-height: 29px;
            margin: 15px 0 45px;
            max-width: 600px;
          }
          .btn-wrapper {
            display: flex;
            gap: 25px;
            .btn {
              font-size: 15px;
              font-weight: 600;
              width: 255px;
              height: 65px;
              color: $primary-one;
              border: solid 3px #fff;
              padding: 21px 63px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
            }
          }
        }
      }
    }
    .bottom-sec {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      gap: 80px;
      .left-sec {
        width: 60%;
        height: auto;
        overflow: hidden;
        .container {
          width: 100%;
          height: 100%;
          position: relative;
          .text-wrapper {
            max-width: 560px;
            h4 {
              font-size: 35px;
              margin-bottom: 15px;
              font-weight: 600;
            }
            p {
              max-width: 550px;
              font-size: 18px;
              font-weight: 300;
              line-height: 34px;
              margin-bottom: 25px;
            }
            .iteam-wrapper {
              position: absolute;
              left: 25px;
              li {
                list-style: disc;
                font-size: 18px;
                line-height: 34px;
                font-weight: 300;
              }
            }
          }
        }
      }
      .right-sec {
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 73px;
        img {
          width: 32px;
          height: 32px;
        }
        .t-sec {
          background-color: #fff;
          border-radius: 15px;
          height: 350px;
          padding: 53px;
          .iteam-wrapper {
            .iteam {
              display: flex;
              gap: 80px 0;
              align-items: center;
              margin: 25px 0;
              img {
                margin-right: 65px;
              }
              span {
                font-size: 22px;
                font-weight: 800;
                color: $primay-two;
              }
            }
          }
        }
        .b-sec {
          background-color: #fff;
          border-radius: 15px;
          height: 350px;
          padding: 50px 35px 100px;
          h4 {
            font-size: 26px;
            margin-bottom: 33px;
            color: black;
          }
          ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 70%;
            li a {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

/*mobile view media queries starts*/
@media (max-width: 766px) {
  .indivitual-courses {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 100px;
    .container {
      overflow: hidden;
      width: 95%;
      height: auto;
      padding-bottom: 100px;
      .top-sec {
        flex-direction: column;
        height: auto;
        .right-sec {
          .text-wrapper {
            h2 {
              font-size: 25px;
              margin-bottom: 8px;
              line-height: 40px;
            }
            p {
              font-size: 15px;
            }
            .btn-wrapper {
              .btn {
                width: 50%;
                font-size: 19px;
                font-size: 12px;
                padding: 15px 0;
              }
            }
          }
        }
      }
      .bottom-sec {
        flex-direction: column;
        height: auto;
        .left-sec {
          width: 100%;
          height: auto;
          .container {
            height: auto;
            padding: 0px 10px;
            .text-wrapper {
              p{
                font-size: 15px;
                line-height: 30px;            
              }
              h4{
                font-size: 27px;
              }
              .iteam-wrapper {
                position: static;
                li {
                  list-style: square;
                  font-size: 15px;
                  line-height: 30px;  
                }
              }
            }
          }
        }
        .right-sec {
          width: 100%;
          height: auto;
          .t-sec {
            padding: 53px 32px;
            .iteam-wrapper{
              .iteam{
                span{
                  font-size: 16px;
                }
              }
            }
          }
          .b-sec {
            padding: 53px 32px;
          }
        }
      }
    }
  }
}

/*mobile view media queries ends*/

/* mobile iphone se starts */

@media (min-width: 320px) and (max-width: 375px) {
  .indivitual-courses {
    padding-bottom: 50px;

    .container {
      padding-bottom: 50px;
    }
  }
}

/* mobile iphone se ends */

/*Desktop View Media Queries Starts*/

@media only screen and (min-width: 1600px) {
  .indivitual-courses {
    height: 135vh;
    padding-bottom: 80px;
  }
}

/*Desktop View Media Queries ends*/
