/*fonts starts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
/*fonts ends */
/*Colors*/
/*Resets*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 1200px;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

/*fonts starts */
/*fonts ends */
/*Colors*/
/*Resets*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 1200px;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

/*Header starts*/
.header {
  width: 100%;
  height: 142px;
  background-color: #fff;
}

.header .container {
  width: 1200px;
  height: inherit;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .logo img {
  width: 100px;
  height: 57.38px;
}

.header .container .handburger {
  display: none;
}

.header .container .nav_group {
  margin-left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .nav_group a li {
  color: black;
  opacity: 1;
  margin: 0 39px;
  font-size: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 600;
}

.header .container .nav_group a li.active {
  color: #ed1b43;
  opacity: 1;
}

.header .container .nav_group a li:hover {
  color: #ed1b43;
}

.header .container .btn {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  background-color: #41436a;
  color: #fff;
  padding: 14px 35px 12px;
  border-radius: 10px;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .container a.btn.active {
  background-color: #ed1b43;
}

.header .container a.btn:hover {
  background-color: #ed1b43;
}

/*Header ends*/
/*mobile view media queries starts*/
@media (max-width: 766px) {
  .header {
    position: relative;
  }
  .header .container {
    width: 90%;
  }
  .header .container .logo {
    z-index: 80;
  }
  .header .container .logo img {
    width: 60px;
    height: 40px;
  }
  .header .container .nav_group {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 100px;
    right: 0%;
    bottom: 0%;
    height: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 120px 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }
  .header .container .nav_group.open {
    height: 100vh;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    left: -20px;
  }
  .header .container .btn {
    display: none;
  }
  .header .container .handburger {
    display: inline-block;
    z-index: 80;
    width: 25px;
    height: 25px;
  }
}

/*mobile view media queries ends */
/* mobile iphone se starts */
@media (min-width: 320px) and (max-width: 375px) {
  .header .container .nav_group {
    top: 30px;
  }
}

/* mobile iphone se ends */
/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  .header .container .nav_group a li {
    font-size: 26px;
  }
  .header .container .btn {
    font-size: 20px;
    padding: 14px 35px 9px;
  }
}

/*Desktop View Media Queries Ends*/
/*Tablet View Media Queries starts*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header .container {
    width: 95%;
  }
  .header .container .nav_group a li {
    margin: 0 34px;
    font-size: 18px;
  }
  .header .container .btn {
    padding: 12px 32px 10px;
    font-size: 16px;
  }
}

/*Tablet View Media Queries Ends*/
/*fonts starts */
/*fonts ends */
/*Colors*/
/*Resets*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 1200px;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

/*footer starts*/
footer {
  width: 100%;
  height: 300px;
}

footer .container {
  width: 1200px;
  height: inherit;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .logo img {
  width: 100px;
  height: 57.38px;
}

footer .container .nav_group {
  margin-left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 90px;
}

footer .container .nav_group a li {
  color: black;
  opacity: 1;
  margin: 0 39px;
  font-size: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 600;
}

footer .container .nav_group a li.active {
  color: #ed1b43;
  opacity: 1;
}

footer .container .nav_group a li:hover {
  color: #ed1b43;
}

footer .container a.btn {
  font-size: 17px;
  text-align: center;
  background-color: #41436a;
  color: #fff;
  padding: 14px 35px 12px;
  border-radius: 10px;
  outline: none;
  font-weight: 600;
}

footer .container .social-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
  cursor: pointer;
}

footer .container .social-group a img {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer .container .social-group a img:hover {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

/*footer ends*/
/*mobile view media queries starts*/
@media (max-width: 766px) {
  footer {
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 55px;
  }
  footer .container {
    width: 95%;
    height: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .nav_group {
    margin-left: 0;
  }
}

/*mobile view media queries ends*/
/* mobile iphone se starts */
@media (min-width: 320px) and (max-width: 375px) {
  footer {
    height: 400px;
    padding-bottom: 35px;
  }
  footer .container {
    height: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .nav_group a li {
    margin: 0 29px;
    font-size: 16px;
  }
}

/* mobile iphone se ends */
/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  footer .container .logo img {
    width: 159px;
    height: 95.38px;
  }
  footer .container .nav_group a li {
    font-size: 26px;
  }
  footer .container .social-group {
    margin-right: -47px;
  }
  footer .container .social-group a img {
    width: 46px;
    height: 50px;
  }
}

/*Desktop View Media Queries Ends*/
/*Tablet View Media Queries starts*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    padding: 60px 0 150px;
  }
  footer .container {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 30px;
  }
  footer .container .nav_group {
    margin: 0%;
  }
  footer .container .nav_group a li {
    margin: 0 70px;
    font-size: 28px;
  }
  footer .container .social-group {
    gap: 0 47px;
  }
  footer .container .social-group a img {
    width: 56px;
    height: 56px;
  }
}

/*Tablet View Media Queries Ends*/
.about-us-page {
  width: 100%;
  height: 600vh;
  background-color: #41436a;
  overflow: hidden;
}

/*Our story starts*/
.out-story-sec {
  width: 100%;
  height: auto;
  margin-bottom: 153px;
}

.out-story-sec .container {
  width: 1194px;
  margin: 0% auto;
}

.out-story-sec .container .flex-wrapper {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.out-story-sec .container .flex-wrapper .left {
  max-width: 622px;
}

.out-story-sec .container .flex-wrapper .left h2 {
  font-size: 50px;
  color: #fff;
  line-height: 75px;
  padding-bottom: 25px;
  max-width: 712px;
}

.out-story-sec .container .flex-wrapper .left p {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.out-story-sec .container .flex-wrapper .left .btn {
  background-color: #ed1b43;
  color: #fff;
  padding: 15px 45px;
  border-radius: 7px;
  font-weight: bold;
}

.out-story-sec .container .flex-wrapper .right img {
  border-radius: 19px;
  width: 516px;
  height: 335px;
}

.out-story-sec .container .bottom-sec {
  margin-top: 157px;
}

.out-story-sec .container .bottom-sec img {
  border-radius: 26px;
}

/*Our story ends*/
/*Meet our ceo starts*/
.meet-our-ceo-sec {
  width: 100%;
  height: auto;
}

.meet-our-ceo-sec .container {
  width: 1194px;
  margin: 0% auto;
}

.meet-our-ceo-sec .container .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 70px;
}

.meet-our-ceo-sec .container .flex-wrapper .left {
  max-width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meet-our-ceo-sec .container .flex-wrapper .left h2 {
  color: #fff;
  font-size: 50px;
  padding-bottom: 25px;
}

.meet-our-ceo-sec .container .flex-wrapper .left p {
  max-width: 750px;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 15px;
  font-weight: 300;
}

.meet-our-ceo-sec .container .flex-wrapper .left .join-us {
  font-size: 24px;
  margin-bottom: 25px;
  color: #fe9677;
}

.meet-our-ceo-sec .container .flex-wrapper .left .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  padding-bottom: 25px;
}

.meet-our-ceo-sec .container .flex-wrapper .left .btn-group .btn {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 72px;
  color: #fff;
  border: solid 3px #fff;
  padding: 15px 40px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.meet-our-ceo-sec .container .flex-wrapper .left .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 45px;
}

.meet-our-ceo-sec .container .flex-wrapper .left .social img {
  width: 40px;
  height: 40px;
}

.meet-our-ceo-sec .container .flex-wrapper .right {
  width: 50%;
}

.meet-our-ceo-sec .container .flex-wrapper .right img {
  background-image: #41436a;
  width: 517px;
  height: 509px;
}

/*Meet our ceo ends*/
/*mobile view media queries starts*/
@media (max-width: 766px) {
  .about-us-page {
    height: auto;
    width: 100%;
    padding-bottom: 50px;
  }
  .about-us-page .out-story-sec {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
  }
  .about-us-page .out-story-sec .container {
    width: 95%;
  }
  .about-us-page .out-story-sec .container .flex-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px 0;
  }
  .about-us-page .out-story-sec .container .flex-wrapper .left {
    max-width: 100%;
  }
  .about-us-page .out-story-sec .container .flex-wrapper .left h2 {
    font-size: 27px;
    line-height: 41px;
  }
  .about-us-page .out-story-sec .container .flex-wrapper .left p {
    font-size: 16px;
    line-height: 31px;
  }
  .about-us-page .out-story-sec .container .flex-wrapper .left .btn {
    padding: 17px 50px;
  }
  .about-us-page .out-story-sec .container .flex-wrapper .right img {
    width: 100%;
    height: 100%;
  }
  .about-us-page .out-story-sec .container .bottom-sec {
    margin-top: 53px;
  }
  .about-us-page .meet-our-ceo-sec {
    width: 100%;
    height: auto;
  }
  .about-us-page .meet-our-ceo-sec .container {
    width: 95%;
  }
  .about-us-page .meet-our-ceo-sec .container .flex-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 35px 0;
  }
  .about-us-page .meet-our-ceo-sec .container .flex-wrapper .left h2 {
    font-size: 40px;
    padding-bottom: 12px;
  }
  .about-us-page .meet-our-ceo-sec .container .flex-wrapper .left p {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 9px;
  }
  .about-us-page .meet-our-ceo-sec .container .flex-wrapper .left .join-us {
    font-size: 21px;
  }
  .about-us-page .meet-our-ceo-sec .container .flex-wrapper .left .btn-group .btn {
    width: 50%;
    padding: 15px 13px;
    font-size: 11px;
    text-align: center;
  }
  .about-us-page .meet-our-ceo-sec .container .flex-wrapper .right {
    width: 100%;
  }
  .about-us-page .meet-our-ceo-sec .container .flex-wrapper .right img {
    width: 100%;
    height: 365px;
  }
}

/*mobile view media queries Ends*/
/*# sourceMappingURL=about.css.map */