@import "../scssfiles/variables/variables";
@import "../scssfiles/Header/header";
@import "../scssfiles/footer/footer";

.about-us-page {
  width: 100%;
  height: 600vh;
  background-color: $primay-two;
  overflow: hidden;
}

/*Our story starts*/

.out-story-sec {
  width: 100%;
  height: auto;
  margin-bottom: 153px;

  .container {
    width: 1194px;
    margin: 0% auto;
    .flex-wrapper {
      margin-top: 65px;
      display: flex;
      justify-content: space-between;
      .left {
        max-width: 622px;
        h2 {
          font-size: 50px;
          color: #fff;
          line-height: 75px;
          padding-bottom: 25px;
          max-width: 712px;
        }
        p {
          color: $primary-one;
          font-size: 18px;
          line-height: 30px;
          margin-bottom: 40px;
        }
        .btn {
          background-color: $complent-color;
          color: #fff;
          padding: 15px 45px;
          border-radius: 7px;
          font-weight: bold;
        }
      }
      .right {
        img {
          border-radius: 19px;
          width: 516px;
          height: 335px;
        }
      }
    }
    .bottom-sec {
      margin-top: 157px;
      img {
        border-radius: 26px;
      }
    }
  }
}

/*Our story ends*/

/*Meet our ceo starts*/
.meet-our-ceo-sec {
  width: 100%;
  height: auto;

  .container {
    width: 1194px;
    margin: 0% auto;
    .flex-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 0 70px;
      .left {
        max-width: 630px;
        display: flex;
        flex-direction: column;
        h2 {
          color: $primary-one;
          font-size: 50px;
          padding-bottom: 25px;
        }
        p {
          max-width: 750px;
          color: $primary-one;
          font-size: 18px;
          line-height: 30px;
          padding-bottom: 15px;
          font-weight: 300;
        }
        .join-us {
          font-size: 24px;
          margin-bottom: 25px;
          color: $secondary-one;
        }
        .btn-group {
          display: flex;
          gap: 25px;
          padding-bottom: 25px;
          .btn {
            font-size: 15px;
            font-weight: 600;
            width: 100%;
            height: 72px;
            color: $primary-one;
            border: solid 3px #fff;
            padding: 15px 40px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
          }
        }

        .social {
          display: flex;
          gap: 0 45px;
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
      .right {
        width: 50%;
        img {
          background-image: $primay-two;
          width: 517px;
          height: 509px;
        }
      }
    }
  }
}
/*Meet our ceo ends*/

/*mobile view media queries starts*/
@media (max-width: 766px) {
  .about-us-page {
    height: auto;
    width: 100%;
    padding-bottom: 50px;

    .out-story-sec {
      height: auto;
      width: 100%;
      margin-bottom: 30px;
      .container {
        width: 95%;
        .flex-wrapper {
          width: 100%;
          flex-direction: column;
          gap: 60px 0;
          .left {
            max-width: 100%;
            h2 {
              font-size: 27px;
              line-height: 41px;
            }
            p {
              font-size: 16px;
              line-height: 31px;
            }
            .btn {
              padding: 17px 50px;
            }
          }
          .right {
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .bottom-sec {
          margin-top: 53px;
        }
      }
    }
    .meet-our-ceo-sec {
      width: 100%;
      height: auto;
      .container {
        width: 95%;
        .flex-wrapper {
          flex-direction: column;
          gap: 35px 0;
          .left {
            h2 {
              font-size: 40px;
              padding-bottom: 12px;
            }
            p {
              font-size: 15px;
              line-height: 30px;
              padding-bottom: 9px;
            }
            .join-us {
              font-size: 21px;
            }
            .btn-group {
              .btn {
                width: 50%;
                padding: 15px 13px;
                font-size: 11px;
                text-align: center;
              }
            }
          }
          .right{
            width: 100%;
            img{
              width: 100%;
              height: 365px;
            }
          }
        }
      }
    }
  }
}
/*mobile view media queries Ends*/
