@import "../variables/variables";
/*footer starts*/
footer {
  width: 100%;
  height: 300px;

  .container {
    width: 1200px;
    height: inherit;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
      width: 100px;
      height: 57.38px;
    }
    .nav_group {
      margin-left: 19px;
      display: flex;
      align-items: center;
      margin-left: 90px;

      a li {
        color: $a-tag-color;
        opacity: 1;
        margin: 0 39px;
        font-size: 20px;
        transition: 0.3s ease;
        font-weight: 600;
      }
      a li.active {
        color: $complent-color;
        opacity: 1;
      }
      a li:hover {
        color: $complent-color;
      }
    }
    a.btn {
      font-size: 17px;
      text-align: center;
      background-color: $primay-two;
      color: $primary-one;
      padding: 14px 35px 12px;
      border-radius: 10px;
      outline: none;
      font-weight: 600;
    }
    .social-group {
      display: flex;
      gap: 0 20px;
      cursor: pointer;
      a {
        img {
          width: 40px;
          height: 40px;
          transition: 0.3s ease;
        }
        img:hover {
          transform: translateY(-12px);
        }
      }
    }
  }
}
/*footer ends*/

/*mobile view media queries starts*/
@media (max-width: 766px) {
  footer{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    padding-bottom: 55px;
    .container{
      width: 95%;
      height: 50%;
      flex-direction: column;
      .nav_group{
        margin-left: 0;
      }
    }
  }
}

/*mobile view media queries ends*/


/* mobile iphone se starts */
@media (min-width: 320px) and (max-width: 375px) {
  footer{
    height: 400px;
    padding-bottom: 35px;
    .container{
      height: 60%;
      justify-content: space-between;
      .nav_group{
        a{
          li{
            margin: 0 29px;
          }
        }
      }
    }
  }
}

/* mobile iphone se ends */

/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  footer {
    .container {
      .logo {
        img {
          width: 159px;
          height: 95.38px;
        }
      }
      .nav_group {
        a {
          li {
            font-size: 26px;
          }
        }
      }
      .social-group {
        margin-right: -47px;

        a {
          img {
            width: 46px;
            height: 50px;
          }
        }
      }
    }
  }
}

/*Desktop View Media Queries Ends*/
