/* calibre fonts starts */

@font-face {
  font-family: calibreBlack;
  src: url(/Root/fonts/calibre_font/CalibreBlack.otf);
}
@font-face {
  font-family: calibreBold;
  src: url(/Root/fonts/calibre_font/CalibreBold.otf);
}
@font-face {
  font-family: calibreSemiBold;
  src: url(/Root/fonts/calibre_font/CalibreSemibold.otf);
}
@font-face {
  font-family: calibreMedium;
  src: url(/Root/fonts/calibre_font/CalibreMedium.otf);
}
@font-face {
  font-family: calibreRegular;
  src: url(/Root/fonts/calibre_font/CalibreRegular.otf);
}
@font-face {
  font-family: calibreLight;
  src: url(/Root/fonts/calibre_font/CalibreLight.otf);
}
@font-face {
  font-family: calibreThin;
  src: url(/Root/fonts/calibre_font/CalibreThin.otf);
}

/* calibre fonts ends */

/*Colors*/

$primary-one: #fff;
$primay-two: #41436a;
$secondary-one: #fe9677;
$secondary-two: #984063;
$complent-color: #ed1b43;
$a-tag-color : black;

/*Resets*/
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
html,
body {
  scroll-behavior: smooth;
}
body{
  width: 100%;
  overflow-x: hidden;
}
section{
  width: 100%;
  overflow-x: hidden;
}
.container{
  overflow-x: hidden;
}
li{
  list-style: none;
}
h1{
  font-family: calibreBlack;
}
a{
  text-decoration: none;
  font-family: calibreBold;
  cursor: pointer;
}
h2{
  font-family: calibreBold;
}
h3{
  font-family: calibreSemiBold;
}
h4{
  font-family: calibreMedium;
}
p{
  font-family: calibreLight;
}
img{
  height: auto;
  width: 100%;
}