@import "../scssfiles/variables/variables";
@import "../scssfiles/Header/header";
@import "../scssfiles/footer/footer";

/*Contact us starts*/
.contact-us-sec {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background-color: $primay-two;
  img {
    width: 25px;
    height: 25px;
  }
  input {
    border: none;
    outline: none;
    color: $primay-two;
  }
  .container {
    width: 1194px;
    margin: 0% auto;
    .flew-wrapper {
      margin-top: 125px;
      width: inherit;
      height: inherit;
      display: flex;
      justify-content: space-between;
      position: relative;
      .left,
      .right {
        width: 50%;
      }
      .left {
        h2 {
          font-size: 35px;
          color: $primary-one;
          margin-bottom: 29px;
        }
        p {
          font-size: 18px;
          max-width: 550px;
          color: $primary-one;
          margin-bottom: 50px;
        }
        form {
          .first {
            display: flex;
            gap: 38px;
            margin-bottom: 55px;
            input {
              width: 269px;
              padding-left: 20px;
              height: 52px;
            }
          }
          .second {
            margin-bottom: 55px;
            input {
              padding-left: 17px;
              width: 575px;
              height: 52px;
            }
          }
          .third {
            margin-bottom: 45px;
            input {
              text-align: start;
              width: 575px;
              height: 250px;

              padding: 10px 0 230px 17px;
            }
          }
          .btn {
            cursor: pointer;
            border: none;
            outline: none;
            font-weight: bold;
            width: 208px;
            height: 52px;
            padding: 20px 40px;
            color: $primary-one;
            background-color: $complent-color;
            border-radius: 65px;
          }
        }
      }
      .right {
        .card {
          min-height: 0%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        .card.one {
          position: absolute;
          top: 40px;
          left: 780px;
          width: 450px;
          height: 450px;
          background-color: $primary-one;
          .container {
            padding: 88px 61px;
            overflow: hidden;
            .first,
            .second,
            .third {
              display: flex;
              gap: 25px;
              margin-bottom: 55px;
              color: $primay-two;
              h4 {
                font-size: 19px;
              }
              p {
                font-size: 16px;
                max-width: 180px;
                line-height: 24px;
              }
            }
          }
        }
        .card.two {
          width: 450px;
          height: 100px;
          background-color: $primary-one;
          position: absolute;
          top: 512px;
          left: 780px;
          .container {
            padding: 33px 80px;
            overflow: hidden;
            .social-group {
              display: flex;
              gap: 30px;
              img {
                width: 35px;
                height: 35px;
                transition: 0.3s ease-in-out;
              }
              img:hover {
                transform: translateY(-12px);
              }
            }
          }
        }
      }
    }
  }
}

/*Contact us ends*/

/*mobile view media queries starts*/
@media (max-width: 766px) {
  .contact-us-sec {
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    .container {
      width: 95%;
      .flew-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 60px 0;
        .left,
        .right {
          width: 100%;
        }
        .right {
          flex-wrap: wrap;
          display: flex;
          flex-direction: column;
          gap: 25px;
          .card.one {
            position: static;
            .container {
              padding: 82px 42px;
              text-align: start;
            }
          }
          .card.two {
            display: none;
          }
        }
      }
    }
  }
}

/*mobile view media queries ends*/

/* mobile iphone se starts */
@media (min-width: 320px) and (max-width: 375px) {
  .contact-us-sec {
    .container {
      .flew-wrapper {
        width: 98%;
        overflow-x: hidden;
        .left {
          form {
            .first{
              gap: 0px 15px;
              input {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}

/* mobile iphone se ends */

/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  .contact-us-sec {
    height: 92vh;
    padding: 40px 0;
  }
}
/*Desktop View Media Queries Ends*/

/*Tablet View Media Queries starts*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-us-sec{
    height: auto;
    padding-bottom: 50px;
    .container{
      width: 95%;
      .flew-wrapper{
        margin-top: 75px;
        flex-direction: column;
        .left{
          width: 100%;
          h2{
            font-size: 42px;
            color: #fff;
            margin-bottom: 14px;
          }
          p{
            font-size: 19px;
            max-width: 568px;
          }
          form{
            .first{
              input{
                width: 50%;
              }
            }
            .second{
              input{
                width: 100%;
              }
            }
            .third{
              input{
                width: 100%;
              }
            }
          }
        }
        .right{
          width: 100%;
        }
      }
    }
  }
}
/*Tablet View Media Queries Ends*/