@import "../scssfiles/variables/variables";
@import "../scssfiles/Header/header";
@import "../scssfiles/footer/footer";

/*Course sec starts*/
.course-sec {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: $primay-two;
  padding-bottom: 80px;
  .container {
    width: 1200px;
    margin: 0% auto;
    overflow: hidden;
    .title {
      margin-top: 70px;
      text-align: center;
      font-size: 55px;
      position: relative;
      margin-bottom: 40px;
      color: $primary-one;
    }
    h2 {
      font-weight: 500;
      text-align: center;
      font-size: 20px;
      max-width: 700px;
      margin: 0% auto;
      margin-top: 18px;
      line-height: 35px;
      padding-bottom: 80px;
      color: $primary-one;
    }

    //card wrapper
    .card-wrapper {
      width: 1200px;
      height: auto;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 55px;
      position: relative;
      .card {
        .bottom {
          .title.big {
            font-size: 27px;
          }
        }
      }
      .card {
        width: 530px;
        height: 547px;
        background-color: $primary-one;
        display: flex;
        flex-direction: column;
        border-radius: 26px;

        .stars {
          width: 108.75px;
          height: 18px;
        }
        .arrow {
          width: 18px;
          height: 18px;
        }

        .top {
          width: 530px;
          height: 281px;

          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            border-radius: 26px;
          }
        }
        .bottom {
          width: 500px;
          margin: 0% auto;
          height: 286px;

          .title {
            position: relative;
            color: $a-tag-color;
            text-align: start;
            max-width: 300px;
            font-size: 20px;
            height: 60px;
          }
          .title::after {
            content: "";
            background: $a-tag-color;
            width: 160%;
            height: 4px;
            position: absolute;
            left: 80%;
            transform: translateX(-50%);
            bottom: -10%;
          }
          .bt-group {
            width: 95%;
            margin: 0% auto;
            transform: translateY(18px);
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .btn {
            background-color: $complent-color;
            color: $primary-one;
            padding: 12px 26.88px;
            font-size: 13px;
            display: flex;
            border-radius: 8px;
            align-items: center;
            font-weight: 600;

            span {
              margin: 0 10px;
            }
          }
        }
      }
      .card.card-center {
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translateX(-50%);
      }
    }
  }
}

/*Course sec ends*/

/*mobile view media queries starts*/
@media (max-width: 766px) {
  .course-sec {
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    .container {
      width: 97%;
      height: auto;
      padding-bottom: 80px;
      h2 {
        transform: translateX(0);
        font-size: 15px;
        line-height: 28px;
        padding-bottom: 55px;
      }
      .title {
        font-size: 33px;
      }
      .card-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card {
          width: 100%;
          .top {
            width: 100%;
          }
          .bottom {
            width: 100%;
            padding: 0 10px;
            .title {
              max-width: 100%;
              font-size: 16px;
            }
            .title.big {
              font-size: 20px;
            }
            .title::after {
              width: 100%;
              left: 0%;
              transform: translateX(0);
              bottom: -25%;
            }
            .btn {
              padding: 11px 11.88px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

/*mobile view media queries ends*/

/* mobile iphone se starts */
@media (min-width: 320px) and (max-width: 375px) {
  .course-sec {
    .container {
      .card-wrapper {
        .card {
          width: 323px;
          border-radius: 22px;
          .top {
            width: 323px;
          }
          .bottom {
            width: 323px;
            .btn {
              padding: 11px 20.88px;
            }
            .bt-group {
              margin-left: 1px;
            }
          }
        }
      }
    }
  }
}

/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  .course-sec {
    height: 397vh;
    padding: 40px 0;
    .container {
      h2 {
        font-size: 33px;
        max-width: 968px;
        transform: translateX(170px);
        line-height: 40px;
      }
    }
  }
}

/*Desktop View Media Queries Ends*/

/*Tablet View Media Queries starts*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .course-sec {
    .container {
      width: 95%;
      .card-wrapper {
        width: 95%;
        .card {
          width: 100%;
          .top {
            width: 100%;
          }
          .bottom {
            width: 100%;
            .title{
              max-width: 100%;
              font-size: 15px;
              line-height: 24px;
              padding: 0 10px;
            }
            .title.big{
              max-width: 100%;
              font-size: 18px;
              line-height: 24px;
              padding: 0 10px;
            }
            .title::after {
              width: 100%;
              left: 0%;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}

/*Tablet View Media Queries ends*/
