@import "../scssfiles/variables/variables";
@import "../scssfiles/Header/header";
@import "../scssfiles/footer/footer";

/* calibre fonts starts */

@font-face {
  font-family: calibreBlack;
  src: url(/fonts/calibre_font/CalibreBlack.otf);
}
@font-face {
  font-family: calibreBold;
  src: url(/fonts/calibre_font/CalibreBold.otf);
}
@font-face {
  font-family: calibreSemiBold;
  src: url(/fonts/calibre_font/CalibreSemibold.otf);
}
@font-face {
  font-family: calibreMedium;
  src: url(/fonts/calibre_font/CalibreMedium.otf);
}
@font-face {
  font-family: calibreRegular;
  src: url(/fonts/calibre_font/CalibreRegular.otf);
}
@font-face {
  font-family: calibreLight;
  src: url(/fonts/calibre_font/CalibreLight.otf);
}
@font-face {
  font-family: calibreThin;
  src: url(/fonts/calibre_font/CalibreThin.otf);
}

h1 {
  font-family: calibreBlack;
}
a {
  text-decoration: none;
  font-family: calibreBold;
  cursor: pointer;
}
h2 {
  font-family: calibreBold;
}
h3 {
  font-family: calibreSemiBold;
}
h4 {
  font-family: calibreMedium;
}
p {
  font-family: calibreLight;
}

/* calibre fonts ends */

/*Course sec starts*/
.course-sec {
  width: 100%;
  height: 550vh;
  overflow: hidden;
  background-color: $primay-two;
  .container {
    width: 1367px;
    height: inherit;
    margin: 0% auto;
    overflow: hidden;
    .title {
      margin-top: 70px;
      text-align: center;
      font-size: 55px;
      position: relative;
      margin-bottom: 40px;
      color: $primary-one;
    }
    .title::after {
      content: "";
      background: $secondary-one;
      width: 120px;
      height: 4px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
    h2 {
      margin-top: 70px;
      margin-bottom: 150px;
      font-size: 29px;
      color: white;
      max-width: 765px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 37px;
      transform: translateX(38%);
    }

    //card wrapper
    .card-wrapper {
      width: 1200px;
      height: 1225px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 55px;
      position: relative;
      .card {
        .bottom {
          .title.big {
            font-size: 27px;
          }
        }
      }
      .card {
        width: 530px;
        height: 547px;
        background-color: $primary-one;
        display: flex;
        flex-direction: column;
        border-radius: 26px;

        .stars {
          width: 108.75px;
          height: 18px;
        }
        .arrow {
          width: 13px;
          height: 13px;
        }

        .top {
          width: 530px;
          height: 281px;

          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            border-radius: 26px;
          }
        }
        .bottom {
          width: 500px;
          margin: 0% auto;
          height: 286px;

          .title {
            position: relative;
            color: $a-tag-color;
            text-align: start;
            max-width: 300px;
            font-size: 20px;
            height: 60px;
          }
          .title::after {
            content: "";
            background: $a-tag-color;
            width: 160%;
            height: 4px;
            position: absolute;
            left: 80%;
            transform: translateX(-50%);
            bottom: -10%;
          }
          .bt-group {
            width: 95%;
            margin: 0% auto;
            transform: translateY(18px);
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .btn {
            background-color: $complent-color;
            color: $primary-one;
            padding: 12px 26.88px;
            font-size: 13px;
            display: flex;
            border-radius: 8px;

            span {
              margin: 0 10px;
            }
          }
        }
      }
      .card.card-center {
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translateX(-50%);
      }
    }
  }
}

/*Course sec ends*/

/*mobile view media queries starts*/
@media only screen and (max-width: 600px) {
  .course-sec {
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    .container {
      width: 95%;
      height: auto;
      padding-bottom: 80px;
      h2 {
        transform: translateX(0);
        font-size: 17px;
        line-height: 1.5;
        margin-bottom: 76px;
      }
      .title {
        font-size: 33px;
      }
      .title::after {
        width: 95px;
        top: 56px;
      }
      .card-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card {
          width: 357px;
          .top {
            width: 357px;
          }
          .bottom {
            width: 357px;
            padding-left: 13px;
            .title::after {
              width: 169%;
            }
          }
        }
      }
    }
  }
}

/*mobile view media queries ends*/

/* mobile iphone se starts */
@media only screen and (min-width: 320px) and (max-width: 370px) {
  .course-sec{
    .container{
      .card-wrapper{
        .card{
          width: 323px;
          border-radius: 22px;
          .top{
            width: 323px;
          }
          .bottom{
            width: 323px;
            .btn{
              padding: 11px 20.88px;
            }
            .bt-group{
              margin-left: 1px;
            }
          }
        }
      }
    }
  }
}

/*Desktop View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  .course-sec {
    height: 397vh;
    padding: 40px 0;
    .container {
      h2 {
        font-size: 33px;
        max-width: 968px;
        transform: translateX(170px);
        line-height: 40px;
      }
    }
  }
}

/*Desktop View Media Queries Ends*/
